body {
    background-color: #BAD4AA;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
        
}

.title {
  
    background-color: azure;
    opacity: 0.7;
    border: grey dotted ;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
    
}

h1 { 
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

dd {
    flex-wrap: wrap;
    padding-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foto {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 20%; 

}

section {
    display:flex;   
    margin-bottom: 5%;
    flex-direction: column;
    box-shadow: 10px 10px 18px 11px rgba(109, 218, 97, 0.593);
    width: 50%;
 
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #EBF5DF;
    padding-top: 5%; 
 
}

#lastbox {
    padding-bottom: 5%;
    
}



@media (max-width:700px){
   .section{
    justify-content: center;
   }
 
    .foto{
        margin-left:20%;
    }
    
    .box{
        flex-direction: column;
        
    }
}